$red:               #ff4444;
$green:             #99cc00;
$blue:              #33b5e5;
$purple:            #aa66cc;
$orange:            #ffbb33;

$white:             #ffffff;
$background-gray:   #dadada;
$light-gray:        #bcbcbc;
$dark-gray:         #9a9a9a;
