.Header {
  &-titleContainer {
    padding: 30px 10px;

    text-align: center;


    @media (min-width: 600px) {
      & {
        text-align: left;
      }
      padding: 30px 50px;
    }

  }

  &-title {
    font-size: 50px;
    color: $dark-gray;
    text-transform: uppercase;
    margin: 0;

    &--lightGray {
      color: $light-gray;
    }

    @media (min-width: 600px) {
      & {
        display: inline-block;
        margin-right: 15px;
      }
    }
  }

  &-subTitle {
    @include body-font;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    margin: 10px 0;


    color: $light-gray;

    @media (min-width: 600px) {
      & {
        display: inline-block;
        margin: 0;
      }
    }
  }

  &-coloredBars {
    height: 5px;

    display: flex;
  }

  &-coloredBar {
    flex: 1 0 auto;

    &--purple { background: $purple; }
    &--red { background: $red; }
    &--blue { background: $blue; }
    &--green { background: $green; }
    &--orange { background: $orange; }
  }
}
