.Header {
  &-titleContainer {
    height: 80px;
    text-align: left;
  }

  &-title {
    display: inline-block;
    font-size: 60px;
    color: #9a9a9a;
    margin-right: 15px;

    &--lightGray {
      color: #bcbcbc;
    }
  }

  &-subTitle {
    @include body-font;
    display: inline-block;

    font-style: italic;
    font-weight: normal;
    font-size: 20px;
  }

  &-coloredBars {
    height: 5px;

    display: flex;
  }

  &-coloredBar {
    flex: 1 0 auto;

    &--purple { background: purple; }
    &--red { background: red; }
    &--blue { background: blue; }
    &--green { background: green; }
    &--orange { background: orange; }
  }
}
