@mixin title-font {
  font-family: 'Oswald', sans-serif;
}

@mixin body-font {
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
}

@mixin bigger-than-600 {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin content {
  margin-left: 20px;
  margin-right: 20px;

  @include bigger-than-600 {
    margin-left: 50px;
    margin-right: 50px;
  }
}

//COLORS
$red: #ff4444;
$green: #99cc00;
$blue: #33b5e5;
$purple: #aa66cc;
$orange: #ffbb33;

$light-gray: #bcbcbc;
$dark-gray: #9a9a9a;
