@mixin title-font {
  font-family: 'Oswald', sans-serif;
}

@mixin body-font {
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
}

@mixin bigger-than-300 {
  @media (min-width: 300px) {
    @content;
  }
}

//COLORS
$red: #ff4444;
$green: #99cc00;
$blue: #33b5e5;
$purple: #aa66cc;
$orange: #ffbb33;

$light-gray: #bcbcbc;
$dark-gray: #9a9a9a;
