@mixin title-font {
  font-family: 'Oswald', sans-serif;
}

@mixin body-font {
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
}

@mixin bigger-than-600 {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin outside-padding {
  padding-left: 20px;
  padding-right: 20px;

  @include bigger-than-600 {
    padding-left: 50px;
    padding-right: 50px;
  }
}
