
@font-face {
    font-family: 'Hack Nerd Font Mono';
    src: url('/images/fonts/hack/HackNerdFontCompleteM-Italic.woff2') format('woff2'),
        url('/images/fonts/hack/HackNerdFontCompleteM-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Hack Nerd Font Mono';
    src: url('/images/fonts/hack/HackNerdFontCompleteM-Bold.woff2') format('woff2'),
        url('/images/fonts/hack/HackNerdFontCompleteM-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hack Nerd Font Mono';
    src: url('/images/fonts/hack/HackNerdFontCompleteM-Regular.woff2') format('woff2'),
        url('/images/fonts/hack/HackNerdFontCompleteM-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hack Nerd Font Mono';
    src: url('/images/fonts/hack/HackNerdFontCompleteM-BoldItalic.woff2') format('woff2'),
        url('/images/fonts/hack/HackNerdFontCompleteM-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
