@charset "utf-8";
// Imports
@import 'normalize';
@import 'mixins';
@import 'colors';

//Components
@import 'components/header';
@import 'components/blog_layout';
@import 'components/blog_post';


body {
  @include body-font;
  color: $dark-gray;
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  @include title-font;
}

a, a:visited {
  color: $dark-gray;

  &:hover {
    color: darken($dark-gray, 10%);
  }
}
