@charset "utf-8";
// Imports
@import 'normalize';
@import 'mixins';
@import 'colors';
@import 'utils';

//Components
@import 'components/layout';
@import 'components/header';
@import 'components/resume';
@import 'components/blog/blog_layout';
@import 'components/blog/blog_post';
@import 'components/blog/post_title';
@import 'components/blog/blog_sidebar';
@import 'components/blog/post_cards';

html {
  height: 100%;
}

body {
  @include body-font;
  color: gray('dark');
  font-size: 1em;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include title-font;
  line-height: 1em;
}

a {
  color: darken(gray('dark'), 10%);
}

// scss-lint:disable QualifyingElement
div.highlight {
  margin: 0 -50px;
}

pre.highlight {
  border: 10px solid gray('light');
  max-height: 90vh;
  overflow: auto;
}
// scss-lint:enable QualifyingElement

img {
  max-width: 100%;
}
