@charset "utf-8";
// Imports
@import 'normalize';
@import 'mixins';
@import 'colors';
@import 'utils';

//Components
@import 'components/layout';
@import 'components/header';
@import 'components/resume';
@import 'components/blog/blog_layout';
@import 'components/blog/blog_post';
@import 'components/blog/post_title';
@import 'components/blog/blog_sidebar';
@import 'components/blog/post_cards';

html {
  height: 100%;
}

body {
  @include body-font;
  color: gray('high-contrast');
  font-size: 1em;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include title-font;
  color: gray('dark');
  line-height: 1em;
}

a {
  color: darken(gray('high-contrast'), 10%);
}


// scss-lint:disable QualifyingElement
div.highlight {
  margin: 0 -50px;
}

pre {
  font-family: Hack, monospace;
  line-height: 1.2;

  &.highlight {
    max-height: 90vh;
    overflow: auto;
  }

  &.lineno {
    user-select: none;
  }
}

// scss-lint:enable QualifyingElement

img {
  max-width: 100%;
}
