<% wrap_layout :base do %>
  <div class="Layout">
    <%= partial 'shared/header', locals: { header_class: 'Layout--header', color: theme_color } %>

    <div id="main" role="main" class="Layout--content">
      <%= yield %>
    </div>
  </div>
<% end %>
