
$grays: (
'white': #ffffff,
'background': #dadada,
'light': #bcbcbc,
'light-symbols': #949494,
'dark': #767676,
'high-contrast': #575757,
'near-black': #1a1a1a,
);

@function gray($key) {
  @if map-has-key($grays, $key) {
    @return map-get($grays, $key);
  }

  @error "Unknown key `#{$key}` in $grays.";
  @return null;
}

$print-black: '#000000';

:export {
  white: gray('white');
  background: gray('background');
  light: gray('light');
  dark: gray('dark');
  highContrast: gray('high-contrast');
  nearBlack: gray('near-black');
}
