.Header {
  &-titleContainer {
    @include outside-padding;
    background-color: gray('white');
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include bigger-than-600 {
      text-align: left;
      flex-direction: row;
      align-items: baseline;
    }
  }

  &-title {
    @include title-font;
    color: gray('dark');
    font-size: 50px;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;

    @include bigger-than-600 {
      display: inline-block;
      margin-right: 15px;
    }

    &--lightGray {
      color: gray('light');
    }
  }

  &-subTitle {
    @include body-font;
    color: gray('light');
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    margin: 10px 0;

    @include bigger-than-600 {
      display: inline-block;
      margin: 0;
    }
  }

  &-socialIcons {
    @include bigger-than-600 {
        margin-left: auto;
    }
  }

  &-socialIcon {
      display: inline-block;
      max-width: 32px;
  }

  &-coloredBars {
    display: flex;
    height: 5px;
  }

  &-coloredBar {
    @include accent-color-modifier;
    background: currentColor;
    flex: 1 0 auto;
  }
}
