.Header {
  &-titleContainer {
    @include outside-padding;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: gray('white');

    @include bigger-than-600 {
      text-align: left;
    }
  }

  &-title {
    @include title-font;
    font-size: 50px;
    color: gray('dark');
    text-transform: uppercase;
    margin: 0;
    text-decoration: none;

    &--lightGray {
      color: gray('light');
    }

    @include bigger-than-600 {
      display: inline-block;
      margin-right: 15px;
    }
  }

  &-subTitle {
    @include body-font;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    margin: 10px 0;
    color: gray('light');

    @include bigger-than-600 {
      display: inline-block;
      margin: 0;
    }
  }

  &-coloredBars {
    height: 5px;

    display: flex;
  }

  &-coloredBar {
    @include accent-color-modifier;
    flex: 1 0 auto;
    background: currentColor;
  }
}
