.Layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &--header,
  &--footer {
    flex: 0 0 auto;
  }

  &--content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }
}
