.Resume {
  margin: auto;
  max-width: 800px;
  padding: 0 20px;

  &-contactInfoSection {
    display: grid;
    grid-gap: 1px;
    grid-template-areas: 'email number';
    grid-template-columns: 1fr 1fr;
    height: 100%;

  }

  &-contactInfo {
    text-align: center;

    &--email {
      grid-area: email;
    }

    &--number {
      grid-area: number;
    }

    &--address {
      grid-area: address;
    }
  }

  &-contactTitle {
    @include smaller-than-600 {
      margin: .5em 0;
    }
  }

  @media print {
    color: $print-black;

    &-contactValue {
      margin: 0;
    }
  }
}

.WorkExperience {
  display: grid;
  grid-gap: 1px 1px;
  grid-template-areas: 'title company time' 'description description description';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  height: 100%;

  margin-bottom: 1em;

  &-title {
    grid-area: title;

  }

  &-company {
    grid-area: company;
    text-align: center;
  }

  &-time {
    grid-area: time;
    text-align: right;
  }

  &-title,
  &-company,
  &-time {
    margin: 0;
  }

  &-description {
    grid-area: description;
  }
}

.ResumeWrapper {
  .Header-titleContainer {
    align-items: center;
    margin: auto;
    max-width: 800px;
  }

  .Header-title {
    text-transform: none;

    @include bigger-than-600 {
      margin-right: 40px;
    }
  }

  .Header-coreyja-link,
  .Header-github-link {
    @include title-font;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
  }

  .Header-github-link {
    font-size: .8em;
  }

  @media print {
    .Header-socialIcons {
      display: none;
    }

    .Header-coloredBars {
      -webkit-print-color-adjust: exact !important; // scss-lint:disable ImportantRule
    }

    .Header-subTitle {
      @include bigger-than-600 {
        margin-left: auto;
      }
    }

    .Header-title {
      color: $print-black;
    }

    .Header-titleContainer {
      padding-bottom: 0;
      padding-top: 0;
    }
  }
}
