<div class="Header">
  <div class="Header-titleContainer">
    <h1 class="Header-title">
      <span class="Header-title--lightGray">../</span>corey<span class="Header-title--lightGray">ja</span>
    </h1>
    <h2 class="Header-subTitle">complex to simple</h2>
  </div>

  <div class="Header-coloredBars">
    <div class="Header-coloredBar Header-coloredBar--red"></div>
    <div class="Header-coloredBar Header-coloredBar--purple"></div>
    <div class="Header-coloredBar Header-coloredBar--green"></div>
    <div class="Header-coloredBar Header-coloredBar--orange"></div>
    <div class="Header-coloredBar Header-coloredBar--blue"></div>
  </div>
</div>
