<header class="Header">
  <div class="Header-titleContainer">
    <a href='/' class="Header-title">
      corey<span class="<%= "Header-title--#{color}" %>" data-color-changer-class="Header-title--">ja</span><span class="Header-title--symbols">://</span>
    </a>
    <h2 class="Header-subTitle">complex to simple</h2>
    <div class="Header-socialIcons">
        <% link_to 'https://www.github.com/coreyja', class: 'Header-socialIcon', target: '_blank', rel: 'noopener' do %>
            <%= image_tag 'github-mark.png' %>
        <% end %>
        <% link_to 'https://dev.to/coreyja', class: 'Header-socialIcon', target: '_blank', rel: 'noopener' do %>
            <%= image_tag 'https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg' %>
        <% end %>
    </div>
  </div>


  <div class="Header-coloredBars">
    <div class="Header-coloredBar Header-coloredBar--red" data-color="red"></div>
    <div class="Header-coloredBar Header-coloredBar--purple" data-color="purple"></div>
    <div class="Header-coloredBar Header-coloredBar--green" data-color="green"></div>
    <div class="Header-coloredBar Header-coloredBar--orange" data-color="orange"></div>
    <div class="Header-coloredBar Header-coloredBar--blue" data-color="blue"></div>
  </div>
  <script>
    function colorHex(color) {
      return JSON.parse(document.querySelector('[name="theme-color-map-hex"]').content)[color];
    }
    function colorManifest(color) {
      return JSON.parse(document.querySelector('[name="theme-color-manifest-map"]').content)[color];
    }

    function changeColorTo(color) {
      var elementsToChange = document.querySelectorAll('[data-color-changer-class]');
      Array.from(elementsToChange).forEach(function(element) {
        element.className = element.dataset.colorChangerClass + color;
      });
      document.querySelector('[name="theme-color"]').content = '#' + colorHex(color);
      document.querySelector('link[rel="manifest"]').href = colorManifest(color);
    }

    function changeThemeColor(event) {
      changeColorTo(event.srcElement.dataset.color);
    }

    var bars = document.getElementsByClassName('Header-coloredBar');
    Array.from(bars).forEach(function(bar) { bar.onclick = changeThemeColor; })
  </script>
</header>
