<header class="Header">
  <div class="Header-titleContainer">
    <a href='/' class="Header-title">
      Bambi
    </a>
    <!--<h2 class="Header-subTitle"></h2>-->
  </div>

  <div class="Header-coloredBars">
    <div class="Header-coloredBar Header-coloredBar--butter"></div>
  </div>
</header>
