<header class="Header">
  <div class="Header-titleContainer">
    <a href='/' class="Header-title">
      <span class="Header-title--lightGray">../</span>corey<span class="Header-title--lightGray">ja</span>
    </a>
    <h2 class="Header-subTitle">complex to simple</h2>
    <div class="Header-socialIcons">
        <% link_to 'https://www.github.com/coreyja', class: 'Header-socialIcon', target: '_blank', rel: 'noopener' do %>
            <%= image_tag 'github-mark.png' %>
        <% end %>
    </div>
  </div>


  <div class="Header-coloredBars">
    <div class="Header-coloredBar Header-coloredBar--red"></div>
    <div class="Header-coloredBar Header-coloredBar--purple"></div>
    <div class="Header-coloredBar Header-coloredBar--green"></div>
    <div class="Header-coloredBar Header-coloredBar--orange"></div>
    <div class="Header-coloredBar Header-coloredBar--blue"></div>
  </div>
</header>
