.BlogSidebar {
  &-title {
    border-bottom: 1px solid gray('light');
    font-size: 22px;
    font-weight: normal;
    padding: 5px 0;
    text-transform: uppercase;
  }

  &-list {
    list-style: none;
    padding-left: 20px;
  }

  &-listItem {
    font-style: italic;
    margin: 5px 0;
    display: inline;

    &:not(:last-of-type)::after {
      content: '\2022';
      padding: 0 5px;
    }

    @media (min-width: 900px) {
      display: block;

      &:not(:last-of-type)::after {
        content: '';
        padding: 0;
      }
    }
  }
}
