.BlogPost {
  @include accent-color-modifier;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &-titleContainer {
    flex: 0 0 auto;
  }

  &-post {
    color: gray('dark');
    flex: 1 1 auto;

    img {
      max-width: 100%;
    }
  }

  &-tags {
    border-top: 2px solid currentColor;
    padding: 5px 0;
  }

  &-tag {
    color: gray('dark');
    text-decoration: none;

    &:not(:first-child)::before {
      content: ' / ';
    }
  }
}
