.BlogSidebar {
  &-title {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 22px;
    padding: 5px 0;

    border-bottom: 1px solid gray('light');
  }

  &-list {
    padding-left: 20px;
    list-style: none;
  }

  &-listItem {
    margin: 5px 0;
    font-style: italic;
  }
}
