.PostCards {
  display: flex;
  flex-direction: column;

  @media (min-width: 600px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &-card {
    @include accent-color-modifier;
    background-color: currentColor;
    box-sizing: border-box;
    flex: 0 0 auto;
    margin: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;

    @media (min-width: 600px) {
      width: calc((100% / 2) - 20px);
    }

    @media (min-width: 1200px) {
      margin: 20px;
      width: calc((100% / 3) - 40px);
    }
  }

  &-title {
    @include title-font;
    color: gray('white');
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: none;
  }

  &-date {
    color: gray('white');
    margin-bottom: 10px;
  }

  &-tags {
    margin-bottom: 15px;
  }

  &-tag {
    color: gray('white');
    font-style: italic;
    text-decoration: none;

    &:not(:last-child)::after {
      content: ',';
    }
  }

  &-more {
    @include title-font;
    color: gray('white');
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
  }
}
